$brand-color-red: #eb3850;

$gradient-color-yellow: #e3c79e;
$gradient-color-dark: #485563;

$dark-10: #1a191e;
$dark-20: #47464a;

/*Color System */
$suport-01: #2962ff;
$suport-2: #0bb07b;
$suport-3: #ffce52;
$suport-4: #f03d3d;
$suport-5: #e0e0e0;
