.heading-1 {
  font-weight: bold;
  font-size: 8rem;
  line-height: 110%;
}

.heading-2 {
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 110%;
}

.heading-3 {
  font-weight: bold;
  font-size: 2.4rem;
  font-weight: 120%;
}

.heading-3 {
  font-weight: medium;
  font-size: 2.4rem;
  line-height: 120%;
}

.lead-paragraph {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 170%;
}

.body-large {
  font-size: 2.2rem;
  font-weight: semibold;
  line-height: 160%;
}

.body-medium {
  font-size: 1.8rem;
  line-height: 160%;
  font-weight: semibold;
}

.body-normal {
  font-size: 1.6rem;
  line-height: 160%;
  font-weight: 400;
}

.body-small {
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 400;
}
